In [3]:
import numpy as np

import pandas as pd

s = pd.Series([1, 3, 5, np.nan, 6, 8])

s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates = pd.date_range('20130101', periods=6)

dates
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

df

                   A         B         C         D
2013-01-01 -1.895350 -1.409410  0.066747  0.534467
2013-01-02 -0.158133 -0.755161  0.674431  1.095966
2013-01-03  1.625289  0.705395  2.319068 -1.227825
2013-01-04  0.372872  0.613411 -1.225106  1.124325
2013-01-05  0.803751  0.994333 -0.000584 -0.587496
2013-01-06 -0.966359 -1.414002 -0.522122 -0.526534

In [5]:
df2 = pd.DataFrame({'A': 1.,
   ...:                     'B': pd.Timestamp('20130102'),
   ...:                     'C': pd.Series(1, index=list(range(4)), dtype='float32'),
   ...:                     'D': np.array([3] * 4, dtype='int32'),
   ...:                     'E': pd.Categorical(["test", "train", "test", "train"]),
   ...:                     'F': 'foo'})
   ...: 

In [10]: df2
df2
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [6]:
 df.head()

                   A         B         C         D
2013-01-01 -1.895350 -1.409410  0.066747  0.534467
2013-01-02 -0.158133 -0.755161  0.674431  1.095966
2013-01-03  1.625289  0.705395  2.319068 -1.227825
2013-01-04  0.372872  0.613411 -1.225106  1.124325
2013-01-05  0.803751  0.994333 -0.000584 -0.587496

In [7]:
df.tail(3)

                   A         B         C         D
2013-01-04  0.372872  0.613411 -1.225106  1.124325
2013-01-05  0.803751  0.994333 -0.000584 -0.587496
2013-01-06 -0.966359 -1.414002 -0.522122 -0.526534

In [8]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [10]:
df.to_numpy()

array([[-1.89535010e+00, -1.40941041e+00,  6.67465559e-02,
         5.34467382e-01],
       [-1.58132516e-01, -7.55160803e-01,  6.74431023e-01,
         1.09596641e+00],
       [ 1.62528929e+00,  7.05394741e-01,  2.31906821e+00,
        -1.22782530e+00],
       [ 3.72871958e-01,  6.13410875e-01, -1.22510609e+00,
         1.12432518e+00],
       [ 8.03751376e-01,  9.94332651e-01, -5.84090650e-04,
        -5.87495646e-01],
       [-9.66359404e-01, -1.41400212e+00, -5.22121615e-01,
        -5.26533663e-01]])

In [11]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [12]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.036322 -0.210906  0.218739  0.068817
std    1.262530  1.109213  1.210273  0.985133
min   -1.895350 -1.414002 -1.225106 -1.227825
25%   -0.764303 -1.245848 -0.391737 -0.572255
50%    0.107370 -0.070875  0.033081  0.003967
75%    0.696032  0.682399  0.522510  0.955592
max    1.625289  0.994333  2.319068  1.124325

In [13]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -1.895350   -0.158133    1.625289    0.372872    0.803751   -0.966359
B   -1.409410   -0.755161    0.705395    0.613411    0.994333   -1.414002
C    0.066747    0.674431    2.319068   -1.225106   -0.000584   -0.522122
D    0.534467    1.095966   -1.227825    1.124325   -0.587496   -0.526534

In [14]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  0.534467  0.066747 -1.409410 -1.895350
2013-01-02  1.095966  0.674431 -0.755161 -0.158133
2013-01-03 -1.227825  2.319068  0.705395  1.625289
2013-01-04  1.124325 -1.225106  0.613411  0.372872
2013-01-05 -0.587496 -0.000584  0.994333  0.803751
2013-01-06 -0.526534 -0.522122 -1.414002 -0.966359

In [15]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-06 -0.966359 -1.414002 -0.522122 -0.526534
2013-01-01 -1.895350 -1.409410  0.066747  0.534467
2013-01-02 -0.158133 -0.755161  0.674431  1.095966
2013-01-04  0.372872  0.613411 -1.225106  1.124325
2013-01-03  1.625289  0.705395  2.319068 -1.227825
2013-01-05  0.803751  0.994333 -0.000584 -0.587496

In [16]:
df['A']

2013-01-01   -1.895350
2013-01-02   -0.158133
2013-01-03    1.625289
2013-01-04    0.372872
2013-01-05    0.803751
2013-01-06   -0.966359
Freq: D, Name: A, dtype: float64

In [17]:
df[0:3]

                   A         B         C         D
2013-01-01 -1.895350 -1.409410  0.066747  0.534467
2013-01-02 -0.158133 -0.755161  0.674431  1.095966
2013-01-03  1.625289  0.705395  2.319068 -1.227825

In [18]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02 -0.158133 -0.755161  0.674431  1.095966
2013-01-03  1.625289  0.705395  2.319068 -1.227825
2013-01-04  0.372872  0.613411 -1.225106  1.124325